.main {
  color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.table {
  width: 1300px;
}

.button{
  margin-bottom: 20px;
}